//@font-face {
//  font-family: 'MyriadProCond';
//  src: url('../fonts/MyriadPro-Cond.otf');
//}
//
//@font-face {
//  font-family: 'MyriadProBold';
//  src: url('../fonts/MyriadPro-Bold.otf') format('openttype');
//}
//
//@font-face {
//  font-family: 'Myriad';
//  src: url('../fonts/MyriadPro-Regular.otf');
//}
//
//@font-face {
//  font-family: 'MyriadPro-BoldCond';
//  src: url('../fonts/MyriadPro-BoldCond.otf');
//}
//
//@font-face {
//  font-family: 'LACONICK';
//  src: url('../fonts/LACONICK.otf');
//}
//
//@font-face {
//  font-family: 'House_of_cards_W03_Regular';
//  src: url('../fonts/House_of_cards_W03_Regular.woff');
//}
